@model SportShopWeb.Models.ClienteModel

@{
    ViewData["Title"] = "Details";
}
<body class="img"></body>
<style>
      .hover-effect:hover {
        opacity: 0.7;
      }

      .img{
            background-image: url(https://png.pngtree.com/background/20220716/original/pngtree-colorful-sports-theme-background-material-picture-image_1636814.jpg);
            background-size:cover;
      }

     
</style>

<h1>Detalles cliente</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoPaterno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoPaterno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoMaterno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoMaterno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Municipio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Municipio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.historialVentas)
        </dt>
        <dd class = "col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <p>Producto</p>
                        </th>
                        <th>
                            <p>Monto</p>
                        </th>
                        <th>
                            <p>Cantidad</p>
                        </th>
                        <th>
                            <p>Fecha de compra</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.historialVentas)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.productoNombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MontoVenta)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cantidad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaVenta)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new {@class="btn btn-sm btn-warning"}) 
    <a asp-action="Index" class="btn btn-sm btn-primary"><i class="fa-solid fa-trash-can fa-xs"></i> Regresar a lista</a>
</div>
